@using model;
@using services;
@using controllers;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Student Page";
}


<div class="text-center">
    <div align="center" class="text-capitalize">
    

    <br/>
    @*@{ 
    <table>
        <thead align="center">
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Email Id</th>
            </tr>
        </thead>
        @{ 
            List<Student> allStudentsbyid = this.ViewData["studentsbyid"] as List<Student>;
            <tbody align="center">
                @foreach(Student std in allStudentsbyid){
                <tr> 
                    <td>@std.StudentId</td>  
                    <td>@std.NameFirst</td>  
                    <td>@std.NameLast</td>  
                    <td>@std.DOB</td>  
                    <td>@std.EmailId</td>  
                </tr>
                }
            </tbody>
        } 
    </table>*@
    
    </div>

    <div align="center" class="text-capitalize">
        <h1 class="display-4">Teacher List</h1>
        <hr />
        <form method="post">
            <label for="">Search: <input type="number" name="searchId" id="input" value="0"></label>
            <button type="submit">Search</button>
        </form>
        <br/>
        @{ 
            <table border="1">
                <caption>
                    Teachers List
                </caption>
                <thead align="center" border="1">
                    <tr>
                        <th>Teacher Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                @{
                    List<Teacher>? allTeachers = this.ViewData["teachers"] as List<Teacher>;
                    <tbody align="center" border="1">
                        @foreach(Teacher? std in allTeachers){
                            <tr>
                                <td> @std.TeacherId </td>
                                <td> @std.FirstName </td>
                                <td> @std.LastName </td>
                                <td> @std.UserName </td>
                                <td><a href="" >Details</a></td>
                                <td><a href="" style="pointer-events: none">Edit</a></td>
                                <td><a href="DeleteStudent/@std" >Delete</a></td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            @* <p><a href="DisplayById">Search By Id?</a></p> *@
        }
    </div>
</div>
